*{
	padding:0;
	margin:0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Exo 2', sans-serif;
}
.background_image{
	background-size:cover;
    background-repeat:no-repeat; 
	height:300px;
}


/*POCETNA STRANA*/



/*navigacija*/
header{
	width:100%;
}
#logo{
	width:7%;
	height:7%;
	margin:1% auto;
	float:left;
}
#navigacija{
	float:right;
	margin:2.5% 0px;
	width:60%;
}
#navigacija ul{
	list-style-type:none;
	float:right;
}
#navigacija ul li{
	display:inline;
	font-size:120%;
}
#navigacija ul li{
	padding-right:40px;
}
#navigacija ul li:last-child{
	padding-right:0;
}
#navigacija ul li a{
	color:#000000;
}
#navigacija ul li a:hover{
	text-decoration:underline;
}
/*navigacija*/
.cleaner{
	clear:both;
}
.centering{
	width:85%;
	margin:0px auto;
}

/*DS 9 The power of elegance blok*/

#pocetni_blok{
	background-image:url("../images/auto.jpg");
	height:600px;
}
#pocetni_blok h1,#pocetni_blok h2{
	position:absolute;
	color:white;
}
#pocetni_blok h1{
	text-shadow:7px 7px black;
	font-size:550%;
	top:70%;
	left:45%;
}
#pocetni_blok h2{
	font-size:250%;
	top:90%;
	left:36%;
}
/*DS 9 The power of elegance blok*/


.blokovi_pocetna{
	width:1150px;
	height:450px;
	display:flex;
	justify-content:flex-start;
	color:#FFFFFF;
	margin:100px auto;
}
.blokovi_pocetna article h1{
	text-align:center;
	font-size:250%;
	padding-top:10px;
}
.blokovi_pocetna article p{
	text-align:justify;
	font-size:115%;
	padding:10px 30px;
}
/*1vi blok*/
#prvi{
	width:600px;
	margin:80px auto;
	text-align:center;
	display:flex;
	flex-direction:row;
	color:#FFFF;
}

#prvi article{
	background-color:black;
	width:200px;
}
#prvi article p{
	padding:5%;
}
#prvi article:nth-child(2){
	border-left:3px solid white;
	border-right:3px solid white;
}

#prvi article p:hover{  
	font-size:140%;
	padding:0;
	transition:all 0.5s ease-in-out;
}
/*1vi blok*/




/*2gi blok*/
#drugi{
	background-color:#000000;
}
#view_cars{
	padding:1%;
	font-size:130%;
	margin-left:40%;
	text-align:center;
}
#view_cars:hover{
	background-color:#FFFFFF;
	color:#000000;
	transition:all 0.7s ease-in-out;
}
/*2gi blok*/



/*3ci blok*/
#treci{
	background-color:#7e9dd6;
}
#view_racing{
	text-align:center;
	padding:1%;
	font-size:130%;
	margin-left:40%;
}
#view_racing:hover{
	background-color:#FFFF;
	color:#7e9dd6;
	transition:all 0.7s ease-in-out;
}
/*3ci blok*/

/*4ti blok*/
#cetvrti{
	margin:100px auto;
	width:1150px;
	position:relative;
}


.join_us h1,.join_us a{
	color:#7e9dd6;
	position:absolute;
	right:3%;
}
#cetvrti article h1{
	top:3%;
	font-size:300%;
	text-align:right;
	font-weight:bold;
}
#join_us{
	top:27%;
	padding:1%;
	font-size:140%;
	text-decoration:underline;
}
#join_us:hover{
	background-color:#FFFF;
	color:#7e9dd6;
	border:2px solid #7e9dd6;
	transition:all 0.5s ease-in-out;
}
/*4ti blok*/

/*footer*/
footer{
	background-color:black;
}

.container {
	padding: 30px 0px 30px 0px;
	display:flex;
	justify-content:space-around;
}
.list1{
	color:#FFFFFF;
	padding:1% 3%;
}
.list1 ul{
	list-style-type:none;
}
.list1 ul li{
	margin:20px auto;
}


#con1 ul li i{
	margin-right:20px;
}
#con1 ul li:first-child{
	margin-top:30px;
}


#con2 ul li{
	text-align:center;
	width:500px;
}
#con2 ul li:first-child{
	margin:0px auto;
}
#con2 ul li:last-child{
	text-align:justify;
}
#con2 ul li h3{
	font-size:150%;
}

#con1{
	border-right:2px solid #FFFFFF;
	padding-right:5%;
	font-size:110%;
}
#con2{
	margin:0px 2%;
}
#con3{
	border-left:3px solid white;
	padding-left:5%;
	font-size:110%;
}
#con3 ul li i{
	margin-left:20px;
	color:#FFFFFF;
}
#con3 ul li{
	text-align:right;
}
#con3 ul li:first-child{
	margin-top:30px;
}

#footer-copyright{
	text-align:center;
	color:#FFFFFF;
	padding:15px 0px;
	background-color: #272525;
	width:100%;
}
/*footer*/
#arrow{
	position:fixed;
	bottom:2%;
	right:1.5%;
	width:3%;
}
a{
	text-decoration:none;
	color:#FFFFFF;
}
/*Forma*/
#login{
	margin:75px auto;
}
#login h1{
	text-align:center;
	position:relative;
	animation: animacija2 1s forwards;
	font-size:275%;
}
form{
	position:relative;
	background-color:#7e9dd6;
	width:1000px;
	color:#FFFFFF;
	/*display:flex;
	justify-content:center;
	align-items:center;*/
	margin:30px auto;
	animation: animacija 1s forwards;
	height:400px;
}
.form-div{
	text-align:center;
	width:50%;
	margin-top:7%;
}
#form-div1{
	float:left;
}
label{
	font-size:200%;
}
input{
	width:50%;
	height:35px;
	margin-top:20px;
	padding-left:2%;
}
#form-div2{
	float:right;
}
#div1,#div2{
	position:relative;
}
#g{
	margin-left:20px;
	position:absolute;
	top:15px;
}
#gender{
	width:20px;
	margin-left:-100px;
}
#drzac{
	width:100%;
}
#form-div3{
	text-align:center;
	width:40%;
	position:absolute;
	bottom:4%;
	left:30%;
}
#form-div3 input{
	padding:0;
}
/*Forma*/


/*Animacije*/
@keyframes animacija{
	0%{left:-150%;}
	100%{left:0;}
	
}@keyframes animacija2{
	0%{right:-100%;}
	100%{right:0;}
	
}
/*Animacije*/

/*About Citroën*/

#oldtimer{
	background-image:url("../images/oldtimer.jpg");
}
#istorija h1{
	text-align:center;
	margin:25px auto;
}
#istorija p{
	margin:75px auto;
	text-align:justify;
	font-size:110%;
}
#holder_old{
	display:flex;
	justify-content:space-around;
}
#holder_old article img, #traction article img,#holder_old2 article img, #xm img{
	transition:all 0.5s ease-in-out;
}
#holder_old article img:hover, #traction article img:hover,#holder_old2 article img:hover,#xm img:hover{
  transform: scale(1.04); 
  box-shadow: 5px 5px 5px #9a9a9a;
}
section article figcaption{
	text-align:center;
	padding-top:7px;
}
#traction article img{
	margin-top:100px;
}
#ds_title article:first-child h1{
	margin-top:100px;
}
#ds_title article h1{
	text-align:left;
	font-size:150%;
	margin-bottom:-50px;
}
#holder_old2{
	display:flex;
	justify-content:space-around;
}
#xm{
	margin:100px auto;
}
/*About Citroën*/

/*Racing stranica*/
#racing_back{
	background-image:url("../images/racing_main23.jpg");
}
#racing_title{
	margin:50px auto;
	font-size:110%;
}
#racing_title article{
	margin:50px auto; 
}
#racing_title h1{
	text-align:center;
	font-size:200%;
}
#racing_title p{
	/* padding-top:70px; */
	text-align:justify;
}
#racing_photos article img{
	transition:all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
#racing_photos article img:hover{
	transform: scale(1.04); 
	box-shadow: 5px 5px 5px #9a9a9a;
}
span{
	font-style:italic;
	background-color:#7e9dd6;
	color:white;
	border-radius:10%;
}
#racing_photos{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin:100px auto;
}
#racing_title{
	font-size:110%;
}
#results{
	font-size:110%;
}
#results article p{
	text-align:justify;
}
#loeb{
	font-size:110%;
	margin:50px auto;
}
#loeb article p{
	text-align:justify;
}
#video{
	margin:50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#models_used{
	font-size:110%;
}
#models_used p{
	text-align:justify;
}
#wtc_photos{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin:50px auto;
}
#wtc_photos2{  
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin:50px auto;
}
#wtc_photos article img, #wtc_photos2 article img,#wtcc article img{
	transition:all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
#wtc_photos article img:hover, #wtc_photos2 article img:hover,#wtcc article img:hover{
	transform: scale(1.04); 
	box-shadow: 5px 5px 5px #9a9a9a;
}
#wtcc{
	margin:50px auto;
}
/*Racing stranica*/




/*About author*/
#ha{
	text-align:center;
	margin:30px auto;
}
#auth_title{
	text-align:center;
	margin:30px auto;
	position:relative;
	animation: animacija2 1s;
}
#author {
	background-color:#7e9dd6;
	color:#FFFFFF;
	display:flex;
	justify-content:flex-start;
	height:400px;
	margin:50px auto;
	position:relative;
	animation: animacija 1s;
}
#author article h1{
	text-align:center;
	padding-top:15px;
	font-size:200%;
}
#author article p{
	text-align:justify;
	margin:10px 30px;
	font-size:130%;
}
#author article img{
	width:350px;
	height:400px;
}
/*About author*/


/*Contact*/
#contact_title{
	text-align:center;
	margin:30px auto;
	position:relative;
	animation: animacija2 1s forwards;
}

#contact{
	display:flex;
	justify-content:flex-start;
	background-color:#7e9dd6;
	margin:30px auto;
	height:400px;
	color:#FFFFFF;
	position:relative;
	animation: animacija 1s forwards;
}
#contact article h1{
	text-align:center;
	margin:25px 80px;/*!!!*/
	font-size:200%;
}
#contact article p{
	text-align:center;
	margin:10px auto;
	font-size:120%;
}
iframe{
	width:600px;
	height:400px;
}
/*Contact*/


/*Cars stranica*/
#factory{
	background-image:url("../images/fac.jpg");
}
#cars_title{
	text-align:center;
}
#cars_title h1{
	margin:50px auto;
}
#cars_title h2{
	margin-bottom:20px;
}


.vehicles ,.vehicles2{
	margin:25px auto;
}
.vehicles article,.vehicles2 article{
	margin:50px auto;
}
.vehicles article:nth-child(2){
	float:left;
}
.vehicles article:nth-child(3){
	float:right;
}


#cars_title2{
	text-align:center;
	margin:20px auto;
	margin-top:150px;
}


.vehicles2 article:nth-child(1){
	float:left;
}
.vehicles2 article:nth-child(2){
	float:right;
}
.vehicles2 article:nth-child(3){
	float:left;
}
.vehicles2 article:nth-child(4){
	float:right;
}
.vehicles2 article:nth-child(5){
	float:left;
}
.vehicles2 article:nth-child(6){
	float:right;
}
.vehicles article img, .vehicles2 article img{
	transition:all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.vehicles article img:hover, .vehicles2 article img:hover{
  transform: scale(1.04); 
  box-shadow: 5px 5px 5px #9a9a9a;
}

#ride{
	height:360px;
	width:100%;
	background-color:#7e9dd6;
	display:flex;
	justify-content:flex-start;
	flex-direction:row;
	margin:100px auto;
	color:#FFFFFF;
}
#ride article h2{
	text-align:center;
	margin:15px auto;
}
#ride article p{
	text-align:justify;
	margin:20px 50px;
}
/*Cars stranica*/